<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Recived from <%=@first_name%> <%=@last_name%></h1>
    <p>
      This Email is to confirm your order <%=@order_number%>. You can review your purchase here!
    </p>
    <p>
      http://localhost:3000/orders/<%=@order_id%>
    </p>
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>
